a {
    text-decoration: none;
    color: #191919;
}
.menu_prod {
    display: flex;
    flex-direction: row;
    padding: 5px;
    position: relative;
    left: 10%;
}

.line {
    margin : 2px 10%;
    border-top: 1px;
    color: black;
    margin-top : 3px;
}

.font_mid {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0 2%;

}

.menu_prod li a{
    padding: 1px 10px;
    font-size: 0.8rem;
}

.user_search {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #E0E9FD;
    margin: 30px auto;
}
.user_search>*{
    padding: 1px 1vw;
    margin: 0 1vw;
}
.user_search input[type="submit"] {
    padding: 2px 2vw;
    border: none;
    background-color: #469AFE;
    border-radius: 2px;
    color: white;
}