html{
    padding-top: 0;
}
#container{
    height: 95%;
    margin:0 8%;
    background-color: #E0E9FD;
    border-radius: 16px;
    position: relative;

}

#messageWindow{
    height: 85%;
    /*overflow-y: scroll;*/
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

.input_window{
    padding: 5px 2%;
    width: 100%;
    height: 10%;
    position:absolute;
    bottom: 20px;

}
#inputMessage{
    width:100%;
    border-radius: 8px;
    border: 1px solid #469AFE;
}
#message_submit{
    position: relative;
    left: -1.5rem;
    font-size: 1rem;
    font-weight: 500;
    width: 5rem;
    height: 50px;
    background-color: #fff419;
    border-radius: 5px;
    border: 0;
}
.chat_open{
    margin-top: 24px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
}

.chat_div{
    min-height: 50px;
    position: relative;

    margin-bottom: 1.8rem;
}
.my_chat_region{

    border-radius: 5px;
    background-color: white;
    position: absolute;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    right: 1.5rem;
    height: 100%;

    min-width:80px;
    max-width : 75%;
    border: 1px solid #f0f0f0;
}

.just_me{
    display: inline-block;
    width:80px;
    position:absolute;
    top:-1.4rem;
    right: -0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
}

.other_chat_region{

    border-radius: 5px;
    background-color: white;
    position: absolute;
    left: 1.5rem;
    height: 100%;

    min-width:80px;
    max-width : 75%;
    border: 1px solid #f0f0f0;

    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.just_other{
    width: 80px;

    display: inline-block;
    position:absolute;
    top:-1.4rem;
    left: 1.5rem;
    font-size: 0.9rem;
    font-weight: 500;
}

#sell_end{
    background-color: #ABB3C3;
    border: 1px solid #ABB3C3;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    width:96px;
    padding: 8px 0;
    position: absolute;
    right: 0;
    top:0;
    z-index: 100;
}

.chat_end{
    position: absolute;
    top:0;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
}