* {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}
.space {
    margin: 20px 0;
}

.prod_list_none{
    display: flex;
    justify-content: center;
    margin: 30px auto;
}
.prod_list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px 8%;
    margin: 10px auto;
}
.prod_list img{
    width : 130px;
    height: 180px;
}
.prod_list ul {
    margin: 1% 2%;
}
.prod_list ul .title, .prod_list ul .cost {
    font-weight: 500;
    font-size: 0.9rem;
}
.prod_list ul .write_date {
    font-weight: 300;
    font-size: 0.7rem;
}

.page_num {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    font-weight: bolder;
    font-size: small;

}
.page_num a {
    margin: 0 10px;
}

.write_btn{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.write_btn a {
    text-align: center;
    margin: 0 10vw 0 0;
    padding: 1vw 25px;
    background-color: #469AFE;
    border-radius: 5px;
    color: white;
    font-size: 0.9rem;
    font-weight: bolder;

}

.prod_list ul li {
    width: 130px;
}

