* {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
.prod_wrap {
    display: flex;
    height: 100vh;
}
.section_left {
    flex: 4;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-left: 5%;
    height: 90vh;
}
.prod_list_none {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
}

.prod_list {
    float: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 80vh;
}

.prod_list img{
    width : 130px;
    height: 180px;
}
.prod_list ul {
    display: inline-block;
    width: 50%;
}
.prod_list ul .title, .prod_list ul .cost {
    font-weight: 500;
    font-size: 0.9rem;
}
.prod_list ul .write_date {
    font-weight: 300;
    font-size: 0.7rem;
}

#map {
    flex: 8;
    height: 90vh;

}

.page_num {

    position: absolute; /* 상위 요소에 대해 상대적으로 위치 설정 */
    bottom: 0; /* 하단으로 이동 */
    left: 50%; /* 가운데로 이동 */
    transform: translateX(-50%); /* 가로 방향으로 50%만큼 이동하여 정확히 가운데로 위치 */
    text-align: center; /* 가운데 정렬 */
    margin-bottom: 20px; /* 하단 여백 설정 */

    font-weight: bolder;
    font-size: small;
}

.page_num a {
    margin: 0 10px;
}


.space {
    clear: both;
    padding: 10px 10px;
}