.width84 {
    margin: 0 8%;
    position: relative;
}

.width84 > h6 {
    border-bottom: 1px solid black;
    font-weight: 900;
}

.prod_modify_image img{
    display: inline-block;
    height: 350px;
    width: 100%;
    object-fit: contain;
}
.prod_image_modify_container{
    display: inline-block;
    text-align: center;
    width: 100%;
}


.slide-next > img, .slide-prev > img {
    display: inline-block;
    object-fit: contain;
    width: 20px;
}


.slide-item label{
    display: inline-block;
    width:96px;
    padding: 8px 0;
    border-radius: 4px;
    background-color: #48baff;
    font-size: 1rem;
    color: white;
    font-weight: 600;
}

input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}


textarea{
    position: relative;
    top: 1rem;
    margin-bottom:64px;
    width: 100%;
    border-radius: 16px;
    border: 0;
    background: #E0E9FD;
    padding : 0.5rem;
}

.col-8 label{
    text-align: center;
    width: 96px;
    margin-top: 1rem;
}

.blue_input{
    border: 1px solid #469AFE;
    width: 80%;
    border-radius: 4px;
    height: 2rem;
}
.blue_div{
    display: inline-block;
    position:relative;
    top:2rem;
    width: 100%;
}
.blue_div_ele{
    position: relative;
    min-height: 2.2rem;
    right: 1rem;
}