.width84 {
    margin: 0 8%;
    position: relative;
}

.width84 > h6 {
    border-bottom: 1px solid black;
    font-weight: 900;
}

#my_slide{

    display: inline-block;
    position: relative;
}
.slide-inner{

    display: inline-block;
    height: 400px;
    width:100%;
    position:relative;
    overflow: hidden;
}
.slide-items{

    display: inline-block;
    height: 400px;
    display: flex;
    flex-direction: row;
    width:5000px;
    transition: transform 0.5s;
}
.prod_image_modify_container{
    display: inline-block;
    text-align: center;
    width:100%;
}

.prod_modify_image img{
    display: inline-block;
    height: 350px;
    width: 100%;
    object-fit: contain;
}
.slide-prev, .slide-next{
    background: white;
    border:1px solid whitesmoke;
}
.slide-prev{
    position: absolute;
    top:360px;
    left: 30px;
}
.slide-next{
    position: absolute;
    top:360px;
    right:30px;
}

.slide-next img, .slide-prev img {
    display: inline-block;
    width: 20px;
    height: 20px;
}


.slide-item .modify_label{
    display: inline-block;
    width:96px;
    padding: 8px 0;
    border-radius: 4px;
    background-color: #48baff;
    font-size: 1rem;
    color: white;
    font-weight: 600;
}


.before_blur:hover:before{
    content: "클릭시 삭제";
    position:absolute;
    color:gray;
    right:0;
    top:0;
}

.blur{
    filter:blur(3px);
}

input[type="file"] ,.image_remove_checkbox {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}


textarea{
    position: relative;
    top: 1rem;
    margin-bottom:64px;
    width: 100%;
    border-radius: 16px;
    border: 0;
    background: #E0E9FD;
    padding : 0.5rem;
}

.col-8 label{
    text-align: center;
    width: 96px;
    margin-top: 1rem;
}

.blue_input{
    border: 1px solid #469AFE;
    width: 80%;
    border-radius: 4px;
    height: 2rem;
}
.blue_div{
    display: inline-block;
    position:relative;
    top:2rem;
    width: 100%;
}
.blue_div_ele{
    position: relative;
    min-height: 2.2rem;
    right: 1rem;
}


.blue_button{
    position:absolute;
    bottom: 0.5rem;
    right : 80px;
    width:64px;
    height: 32px;
    background: #469AFE;
    border:0;
    border-radius: 6px;
    color : whitesmoke;
    font-weight: 500;
}

.yellow_button{
    position:absolute;
    bottom: 0.5rem;
    right : 8px;
    width:64px;
    height: 32px;
    background: #FFDC4F;
    border:0;
    border-radius: 6px;
    color : black;
    font-weight: 500;
}