* {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #191919;
}

footer {
    margin: 0 auto;
}

.footer01 {
    border-bottom: 1px solid darkgray;
    border-top: 1px solid darkgray;
    width: 80%;
    margin: 0 8%;
}

.footer01 ul {
    display: flex;
    justify-content: flex-start;
    margin: 15px 0;
    width: 700px;
    font-size: 0.8rem;
    font-weight: bold;
}

.footer01 ul li {
    margin: 0 3%;
}

.footer02 p {
    display: flex;
    justify-content: flex-start;
    margin: 20px 8%;
    width: 700px;
    font-size: 0.8rem;
}

.footer02 .bold {
    font-weight: bold;
    width: 100px;
}

footer > p {
    display: flex;
    justify-content: flex-start;
    margin: 10px 8%;
    padding: 10px 0;
    font-size: 0.8rem;
    color: #ABB3C3;
}

.line {
    border-top: 1px solid #ABB3C3;
    width: 80%;
    margin: 0 8%;
}

section {
    padding: 200px;
}