* {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}


a {
    text-decoration: none;
    color: #191919;
}


    /* header */
    .logo img {
        width: 120px;
    }

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 8%;
    }

    .search_txt {
        background-color: #E0E9FD;
        border: 1px solid #e9e9e9;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 7px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 350px;
        height: 30px;
        vertical-align: top;
    }

    .img-search {
        background: url("../img/search.png") no-repeat;
        width: 25px;
        height: 25px;
        border: none;
        position: relative;
        left: -35px;
        top: 5px;
        cursor: pointer;
    }

    .login a {
        background-color: #E0E9FD;
        font-size: 0.8rem;
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: bold;
    }

    .login a:hover {
        background-color: #CBDAE1;
    }
    .logout a{
        background-color: #E0E9FD;
        font-size: 0.8rem;
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: bold;
    }

    .logout a:hover{
        background-color: #CBDAE1;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        margin: 25px 8%;
        font-size: 0.9rem;
        font-weight: bolder;
    }

    .hambuger-menu{
        display: none;
    }

