* {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
}

#wrap{
    width: 90%;
    margin: 30px auto;
}

h1{
    text-align: center;
}

a{
    text-decoration: none;
}

#top{
    margin: 30px auto;
    width: 70vw;
    height: 10vh;
    border: 1px solid silver;
    display: flex;
    justify-content: space-between;
}

.info1{
    width: 30vw;
    height: 10vh;
    background-color: #E0E9FD;
}


#middle{
    margin: 50px auto;
    width: 70vw;
    height: 20vh;
}

.sales{
    display: flex;
    justify-content: space-between;
}

.sales_info{
    margin: 0 auto;
    width: 70vw;
    height: 20vh;
    border: 1px solid silver;
    border-top: 3px solid silver;
}

.sales_info>img{
    width: 150px;
}

#bottom{
    margin: 0 auto;
    width: 70vw;
    display: flex;
    justify-content: space-between;
}


#bottom a>div{
    margin-top: 2vw;
    width: 34vw;
    height: 180px;
    border: 1px solid silver;
    background-color: #E0E9FD;
    text-align: center;
    position: relative;
}

.btm_p{
    position: relative;
    top: 70px;
}
