* {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
}


#wrap{
    width: 90%;
    margin: 100px auto;
}

h1{
    text-align: center;
}

form{
    width: 70vw;
    margin: 70px auto 0;
    display: flex;
    justify-content: right;
}

.table{
    margin: 10px auto;
    display: table;
    width: 70vw;
    border-top: 2px solid silver;
    border-left: 2px solid silver;
    border-right: 2px solid silver;
    border-bottom: 1px solid silver;

}

.tr{
    display: table-row;
    height: 150px;
}

.td{
    display: table-cell;
    border-bottom: 1px solid silver;
    flex-direction: column;
}

.tr:last-child .td:first-child,
.tr:last-child .td:last-child{
    /*border-bottom: none;*/
}

.td:first-child{
    width: 15vw;
}

img{
    width: 12vw;
    height: 12vw;
    object-fit: contain;


    position: relative;
    top: 4vh;
    left: 1vw;
}

.td2_li{
    padding: 1vh 1vw;
    position: relative;
    top: -9vw;
}

.td2_li:first-child
,.td2_li:last-child{
    font-weight: bolder;
    font-size: 1.1rem;
}

.td2_li:nth-child(2){
    color: dimgray;
}

.td3_li{
    display: flex;
    justify-content: right;
    padding: 5px;
    position: relative;
    top: 5px;
}

#review{
    padding: 5px 10px;
    background-color: #03C75A;
    border: 2px solid #03C75A;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
}

#review:hover{
    border-radius: 10px;
    background-color: white;
    color: #03C75A;
}

/*.td3_ul>li>a{
    position: relative;
    top: 10px;
}*/

#chat_icon{
    width: 35px;
    position: relative;
    top: 5px;
    left: -5px;
}


