* {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
}


#wrap{
    width: 90%;
    margin: 30px auto;
}

h1{
    text-align: center;
}

form{
    width: 70vw;
    margin: 70px auto 0;
    display: flex;
    justify-content: right;
}

.table{
    margin: 10px auto;
    display: table;
    width: 70vw;
    border-top: 1px solid silver;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
}

.tr{
    display: table-row;
    height: 150px;
}

.td{
    display: table-cell;
    border-bottom: 1px solid silver;
}
