* {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
}

#wrap{
    width: 90%;
    margin: 100px auto;
}

h1{
    text-align: center;
}

#wrap form{
    width: 70vw;
    margin: 70px auto 0;
    display: flex;
    justify-content: right;
}

.table{
    margin: 10px auto;
    display: table;
    width: 70vw;
    border-top: 2px solid silver;
    border-left: 2px solid silver;
    border-right: 2px solid silver;
    border-bottom: 1px solid silver;

}

.tr{
    display: table-row;
    height: 150px;
}

.td{
    display: table-cell;
    border-bottom: 1px solid silver;
    flex-direction: column;
}


.td:first-child{
    width: 15vw;
}

.td:first-child img{
    width: 12vw;
    position: relative;
    top: 4vh;
    left: 1vw;
}

.td2_li{
    padding: 1vh 1vw;
    position: relative;
    top: -9vw;
}

.td2_li:first-child
,.td2_li:last-child{
    font-weight: bolder;
    font-size: 1.1rem;
}

.td2_li:nth-child(2){
    color: dimgray;
}

#td3{
    width: 200px;
    position: relative;
}


#chat_icon{
    width: 35px;
    position: relative;
    top: 70px;
    left: 140px;
}


